.navbar-links{
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  gap: 1rem;
  padding: 12px 24px;
  background-color: #141414;
  color: #fff;
}

/*.navbar-logo a{*/
/*  font-size: 24px;*/
/*  font-weight: bold;*/
/*  text-decoration: none;*/
/*  color: #e50914*/
/*}*/

li{
  list-style: none;
}

.navbar-links a{
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem ;
}

.navbar-links li.active{
  font-weight: bold;
  border-bottom: 2px solid #e50914;
}
