<app-search></app-search>

<ul>
  <li *ngFor="let meal of meals">
    <a
      class="card"
      (click)="openMeal($event, meal)"
    >
      <img [src]="meal.strCategoryThumb" [alt]="meal.strCategory">
      <div class="content">
        <div class="name">{{ meal.strCategory }}</div>

        <button
          type="button"
          class="favorite"
          [class.active]="meal.isFavorite"
          (click)="$event.stopPropagation(); $event.preventDefault(); toggleFavorite(meal)">
          ❤
        </button>

        <div class="product-item-footer">
          <div class="cook-time"><span>🕐 {{ meal.cookTime }} mins</span></div>
        </div>

        <div class="rating">
          <ngx-stars [readonly]="true" [initialStars]="meal.rating"></ngx-stars>
        </div>

        <div class="price"><span>{{ meal.price }} $</span></div>
      </div>
    </a>
  </li>
</ul>

<button
  class="to-top"
  (click)="scrollToTop()"
  *ngIf="isScrolled"
  aria-label="Прокрутить вверх">UP</button>
