<div class="container">
  <h2>Browse Characters</h2>

  <!-- Поисковая строка -->
  <div class="search-container">
    <input
      [formControl]="searchControl"
      placeholder="Search..."
    class="search-input">  </div>


    <!-- Индикатор загрузки -->
    @if (isLoading) {
      <div class="loading">
        <p>Loading characters...</p>
      </div>
    }

    <!-- Сообщение об ошибке -->
    @if (errorMessage && !isLoading) {
      <div class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    }

    <!-- Сетка персонажей -->
    @if (!isLoading) {
      <div class="grid">
        @for (char of characters; track char) {
          <div
            class="card"
            [routerLink]="['/characters', char.id]"
            >
            <img [src]="char.image" [alt]="char.name">
            <h3>{{ char.name }}</h3>
            <p>{{ char.species }} - {{ char.status }}</p>
          </div>
        }
      </div>
    }

    @if (!isLoading && characters.length > 0) {
      <div class="pagination">
        <button
          (click)="previousPage()"
          [disabled]="currentPage === 1"
          class="btn-page control-btn"
          >
          ← Previous
        </button>
        <div class="page-numbers">
          @if (visiblePages[0] > 1) {
            <button (click)="goToPage(1)" class="btn-page-number">1</button>
          }
          @if (visiblePages[0] > 1) {
            <span>...</span>
          }
          @for (page of visiblePages; track page) {
            <button
              (click)="goToPage(page)"
              [class.active]="currentPage === page"
              class="btn-page-number"
              >
              {{ page }}
            </button>
          }
          @if (visiblePages[visiblePages.length - 1] < totalPages) {
            <span>...</span>
          }
          @if (visiblePages[visiblePages.length - 1] < totalPages) {
            <button
              (click)="goToPage(totalPages)"
              class="btn-page-number"
              >
              {{ totalPages }}
            </button>
          }
        </div>
        <button
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
          class="btn-page control-btn"
          >
          Next →
        </button>
      </div>
    }

    @if (!isLoading && characters.length > 0) {
      <div class="page-info">
        Page {{ currentPage }} of {{ totalPages }}
      </div>
    }


    <!-- Если нет результатов -->
    @if (!isLoading && characters.length === 0 && !errorMessage) {
      <div class="no-results">
        <p>No characters found. Try a different search.</p>
      </div>
    }

  </div>
