
<h1 *ngIf="!(currentUser$ | async)">You need to log in </h1>
<div *ngIf="(currentUser$ | async)" class="items-page">
  <h1>Browse Items</h1>

  <form class="search-bar" (ngSubmit)="onSearch()">
    <input
      type="text"
      name="q"
      [(ngModel)]="query"
      (ngModelChange)="onSearchChange($event)"
      placeholder="Search items..."
    />
    <button type="submit">Search</button>
  </form>

  <div *ngIf="loading" class="state state-loading">
    Loading items...
  </div>

  <div *ngIf="error" class="state state-error">
    {{error}}
  </div>

  <div *ngIf="(currentUser$ | async) && !loading && !error && items.length == 0"
    class="state state-empty">No items found
  </div>

    <div class="items-grid" *ngIf="!loading && !error && items.length>0">
      <app-item-card
        *ngFor="let item of items"
        [item] = "item">
      </app-item-card>
    </div>
</div>
